<!DOCTYPE html>
<html>

<head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/css/style.css' />
</head>

<body>
    <div class="header">
        <a href="/">
            <img class="logo rotate" src="/images/projectiq_noshadow.png">
        </a>
    </div>
    <div class="menu">
        <table>
            <tr>
                <td>
                    <a class="menuEntry" href="/about/" id="idAbout">About us</a>
                </td>
                <td>
                    <a class="menuEntry" href="/contact/" id="idContact">Contact</a>
                </td>
                <td>
                    <a class="menuEntry" href="/login/" id="login">Login</a>
                </td>
            </tr>
        </table>
    </div>
    <table class="textTable">
        <tr>
            <td>
                <h2 class="welcomeMessage">{{ title }}</h2>
                {{# if success }}
                <h1 class="success">Success</h1>
                {{ else }} {{# if errors }}
                <section>
                    <ul>
                        {{# each errors }}
                        <li> {{ this.msg }}</li>
                        {{/each }} {{/if}}
                    </ul>
                </section>
                {{/if }} {{# if hasErrors}}
                <section>
                    <ul>
                        {{# each messages }}
                        <li> {{ this }}</li>
                        {{/each }} {{/if}}
                    </ul>
                </section>
            </td>
        </tr>
        <tr>
            <td>
                <form class="loginForm" method="post" action="/register">
                    <input type="text" name="email" placeholder="Email" value="" size="35">
                    <br>
                    <input type="password" name="password" placeholder="Password" value="" size="35">
                    <br>
                    <input type="password" name="passwordCheck" placeholder="Re-enter password" value="" size="35">
                    <br>
                    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                    <label for="userType">User type</label>
                    <input class="radio" type="radio" name="userType" value="user">User
                    <input class="radio" type="radio" name="userType" value="admin">System Admin
                    <input class="radio" type="radio" name="userType" value="boss">Boss
                    <br>
                    <input class="loginButton" type="submit" value="Register" size="35">
                </form>
            </td>
        </tr>
    </table>
</body>
<footer class="footer">Copyright by Fredrik</footer>

</html>